<section>
  <div>
    <form action="/station/{{station._id}}/addreport" method="POST">
      <div class="field is-grouped">
        <button class="button is-link">Auto-generate Reading</button>
      </div>
    </form>
  </div>
</section>