<nav class="navbar is-info is-inverted has-background-link-dark">
  <div class="navbar-brand">
    <a id="weatherinfo" class="navbar-item" href="/weatherinfo">Weather
      Information</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
      <a id="account" class="navbar-item" href="/account/{{userId}}">Account
      </a>
      <a id="logout" class="navbar-item" href="/logout">Logout </a>
    </div>
  </div>
</nav>