{{> welcome-menu active="about"}}

<div class="content box sunny">
  <h1 class="title has-text-link">
    About WeatherTop app
  </h1>
</div>

<div class="box content has-text-centered">
  <h3 class="subtitle is-5">
    How to use this app?
  </h3>
  <div class="box">
    <h4 class="subtitle is-6">
      1. First, you need to register
    </h4>
    <p>After registering, you can log in</p>
    <figure>
      <img
        src="https://cdn.glitch.global/95d1a9fd-89db-42a3-bf6b-9afea9f0dd2c/register.png?v=1692267657144"
        alt="how to register"
      />
    </figure>
  </div>
  <div class="box">
    <h4 class="subtitle is-6">
      2. Then, you can start adding weather stations
    </h4>
    <p>A location, latitude and longitude are mandatory</p>
    <figure>
      <img
        src="https://cdn.glitch.global/95d1a9fd-89db-42a3-bf6b-9afea9f0dd2c/addstation.png?v=1692267639235"
        alt="how to add a station"
      />
    </figure>
  </div>
  <div class="box">
    <h4 class="subtitle is-6">
      3. You will now see the station you added on the "Dashboard"
    </h4>
    <p>Here you will see the readings for the station (if available), and you
      can open or destroy the station</p>
    <figure>
      <img
        src="https://cdn.glitch.global/95d1a9fd-89db-42a3-bf6b-9afea9f0dd2c/newstation.png?v=1692267671353"
        alt="what a new station looks like"
      />
    </figure>
  </div>
  <div class="box">
    <h4 class="subtitle is-6">
      4. Opening the station will allow you to submit a reading"
    </h4>
    <p>New readings require an input for weather code, temperature, wind speed,
      wind direction, and pressure</p>
    <figure>
      <img
        src="https://cdn.glitch.global/95d1a9fd-89db-42a3-bf6b-9afea9f0dd2c/addreading.png?v=1692267614273"
        alt="how to add a reading"
      />
    </figure>
  </div>
  <div class="box">
    <h4 class="subtitle is-6">
      5. Once a reading has been entered and submitted, the new reading will
      show on the station"
    </h4>
    <p>Please note that for a trend to appear, a minimum of 3 readings have to
      be associated with a station</p>
    <figure>
      <img
        src="https://cdn.glitch.global/95d1a9fd-89db-42a3-bf6b-9afea9f0dd2c/readings.png?v=1692267651779"
        alt="what readings look like"
      />
    </figure>
  </div>
  <div class="box">
    <h4 class="subtitle is-6">
      6. Enjoy using your weather station and viewing your measurement history!
    </h4>
  </div>
</div>