{{> welcome-menu active="history"}}

<header class="content box sunny">
  <h1 class="title has-text-link">
    The history of weather measurements, according to Britannica.com
  </h1>
</header>
<div class="box">
  <iframe
    src="https://www.britannica.com/science/weather-forecasting/History-of-weather-forecasting"
    width="100%"
    height="500px"
  ></iframe>
</div>