{{> welcome-menu active="start"}}

<div class="content box sunny">
  <p class="title has-text-link">
    Welcome to WeatherTop - track weather wherever you go!
  </p>
</div>
<div class="box">
  <h2 class="subtitle">
    We hope you enjoy your Weathertop weather station, and we look forward to
    seeing your reports!
  </h2>
  <figure>
    <img
      src="https://cdn.glitch.global/95d1a9fd-89db-42a3-bf6b-9afea9f0dd2c/weatherstation.png?v=1692267663300"
      alt="weather station"
    />
  </figure>
</div>