{{> menu active="dashboard"}}

<header class="content box sunny">
  <h1 class="title has-text-link">
    Weather information by Britannica.com
  </h1>
</header>
<div class="box">
  <iframe
    src="https://www.britannica.com/science/weather"
    width="100%"
    height="550px"
  ></iframe>
</div>